<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.management.mapper.TbScdDevMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.equipment.management.entity.TbScdDev">
        <id column="id" property="id" />
        <result column="dev_no" property="devNo" />
        <result column="bar_code" property="barCode" />
        <result column="dev_name" property="devName" />
        <result column="cate_id" property="cateId" />
        <result column="model_no" property="modelNo" />
        <result column="standard" property="standard" />
        <result column="price" property="price" />
        <result column="country_id" property="countryId" />
        <result column="firm" property="firm" />
        <result column="out_firm_no" property="outFirmNo" />
        <result column="purchase_time" property="purchaseTime" />
        <result column="found_id" property="foundId" />
        <result column="origin_id" property="originId" />
        <result column="deposit_id" property="depositId" />
        <result column="dev_sum" property="devSum" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_emp" property="createEmp" />
        <result column="modify_emp" property="modifyEmp" />
        <result column="is_valid" property="isValid" />
        <result column="dev_power" property="devPower" />
        <result column="direc_id" property="direcId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dev_no, bar_code, dev_name, cate_id, model_no, standard, price, country_id, firm, out_firm_no, purchase_time, found_id, origin_id, deposit_id, dev_sum, remark, create_time, modify_time, create_emp, modify_emp, is_valid, dev_power, direc_id
    </sql>

    <select id="getPageList" resultType="com.equipment.management.entity.TbScdDev">
        select <include refid="Base_Column_List"/> from tb_scd_dev
        <where>
            <if test="tbScdDev.devName !=null and tbScdDev.devName!=''">
                dev_name like CONCAT('%',#{tbScdDev.devName},'%')
            </if>
            <if test="tbScdDev.cateId !=null and tbScdDev.cateId!=''">
                and cate_id = #{tbScdDev.cateId}
            </if>
            <if test="tbScdDev.devNo!=null and tbScdDev.devNo!=''">
                and dev_no like CONCAT('%',#{tbScdDev.devNo},'%')
            </if>
            <if test="tbScdDev.modelNo!=null and tbScdDev.modelNo!=''">
                and model_no = #{tbScdDev.modelNo}
            </if>
        </where>
    </select>

</mapper>
