<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.management.mapper.TbScdMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.equipment.management.entity.TbScdMenu">
        <id column="id" property="id" />
        <result column="menu_name" property="menuName" />
        <result column="menu_url" property="menuUrl" />
        <result column="parent_id" property="parentId" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_emp" property="createEmp" />
        <result column="modify_emp" property="modifyEmp" />
        <result column="is_valid" property="isValid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_name, menu_url, parent_id, create_time, modify_time, create_emp, modify_emp, is_valid
    </sql>

</mapper>
