<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.management.mapper.TbScdApplyItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.equipment.management.entity.TbScdApplyItem">
        <id column="id" property="id" />
        <result column="item_no" property="itemNo" />
        <result column="dev_id" property="devId" />
        <result column="dev_num" property="devNum" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_emp" property="createEmp" />
        <result column="modify_emp" property="modifyEmp" />
        <result column="is_valid" property="isValid" />
        <result column="apply_id" property="applyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, item_no, dev_id, dev_num, remark, create_time, modify_time, create_emp, modify_emp, is_valid, apply_id
    </sql>
    <select id="getDevApplicatinNum" resultType="java.util.Map">
        select dev_name devName,count(1) count
        from tb_scd_apply_item item
        left join tb_scd_dev dev
        on item.dev_id=dev.id
            left join tb_scd_apply apply
            on item.apply_id = apply.id
        where apply.status =2 or apply.status =4
        group by item.dev_id
    </select>
    <select id="getDevApplicatinQuantity" resultType="java.util.Map">
        select dev_name devName,sum(item.dev_num) sum
        from tb_scd_apply_item item
            left join tb_scd_dev dev
        on item.dev_id=dev.id
            left join tb_scd_apply apply
            on item.apply_id = apply.id
        where apply.status =2 or apply.status =4
        group by item.dev_id
    </select>

</mapper>
